
  .container {
    height: fit-content;
    display: block;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-top: 0;
  }
  .login-div {
    position: relative;
    height: fit-content;
    width: calc(100vw - 65%);
    background-color: rgb(2, 21, 40);
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px 0 rgba(48, 48, 48, 0.3),
      0 1px 3px 1px rgba(48, 48, 48, 0.15);
    box-sizing: border-box;
    padding: 10px;
  }
  form {
    margin: 5%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  .img-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .logo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .logo > img {
    width: 150px;
    height: 150px;
    margin-bottom: 0;
  }
  h1 {
    text-align: center;
    word-spacing: 7px;
    font-size: 2.5rem;
    margin-top: 0;
  }
  .error {
    color: #ff0606;
    font-size: 1.1rem;
    line-height: space;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .w {
    text-align: center;
    color: #0080ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    letter-spacing: 5;
  }
  .m {
    text-align: center;
    color: #0b3996;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    letter-spacing: 3;
  }
  h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    color: #0b3996;
    margin: 0;
    text-align: center;
    padding: 5px;
  }
  input {
    margin: auto;
  }
  input[type="text"],
  input[type="number"],
  input[type="password"] {
    padding: 15px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #cdcbcb;
    outline: none;
    background-color: rgb(43, 43, 64);
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(48, 48, 48, 0.3),
    0 1px 3px 1px rgba(48, 48, 48, 0.15);
    offset: none;
    outline: none;
  }
  #capatcha-code-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  #capatcha-code-img > img {
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px 0 rgba(48, 48, 48, 0.3),
      0 1px 3px 1px rgba(48, 48, 48, 0.15);
    box-sizing: border-box;
    height: 3.5rem;
    border: none;
  }
  #captcha {
    width: calc(100% - 60%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    box-shadow: 0 1px 1px 0 rgba(48, 48, 48, 0.3),
      0 1px 3px 1px rgba(48, 48, 48, 0.15);
    box-sizing: border-box;
    color: #444;
    outline: none;
    border: none;
    background-color: white;
    height: 3.5rem;
    margin: 0;
  }
  input[type="text"]:hover,
  input[type="number"]:hover,
  input[type="password"]:hover,
  #captcha:hover {
    offset: none;
    outline: none;
    border: 1px solid darkgray;
  }
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  #captcha:focus {
    border: none;
    box-shadow: 0 0 1px 1px #0b3996;
    offset: none;
    outline: none;
  }
  button{
      outline: none;
      border: none;
      background-color: rgb(2, 21, 40);
      margin-top: .5em;
      justify-content: center;
      align-items: center;
  }
  .signup,
  .login,
  .storeNext{
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    box-sizing: border-box;
  }
  .signup:hover,
  .login:hover,
  .storeNext:hover {
    padding: 7px;
    box-shadow: 0 1px 1px 0 rgba(48, 48, 48, 0.3),
      0 1px 3px 1px rgba(48, 48, 48, 0.15);
      border: none;
  }
  
  .no-account {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      color: #666;
  }
  .no-account > a {
    font-size: 18px;
  }
  .cprght {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #666;
  }
  
  .cls-1 {
    display: none;
    color: #0b3996;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
  }
  
  .publicName:hover ~ .publicName-spn {
    display: block;
  }
  .privateName:hover ~ .privateName-spn {
    display: block;
  }
  .secretCode:hover ~ .secretCode-spn {
    display: block;
  }
  .password:hover ~ .password-spn {
    display: block;
  }
  .login-phrase:hover ~ .login-phrase-spn{
    display: block;
  }
  .login-time{
    margin-top: 15px;
  }
  label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
  }
  select{
    width: 100px;
  }
  select option{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    outline: none;
  }
  
  @media only screen and (max-width: 768px) {
    h1 {
      text-align: center;
      word-spacing: 7px;
      font-size: 2rem;
      margin-top: 0;
    }
    .login-div {
      width: 95%;
    }
  }

 




  .countdown {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    counter-reset: my-count 30; 
    animation: countdown 60s linear 1;
    overflow: hidden;
    margin: 0px .4em;
    &::after {
      content: counter(my-count);
      font-size: 1.3rem; 
    }
  }
  
  @keyframes countdown {
    0% {
      color: hsl(90, 100%, 20%);
    }
    3.3% {
      counter-increment: my-count -1;
      color: hsl(90, 100%, 20%);
    }
    6.6% {
      counter-increment: my-count -2;
      color: hsl(90, 100%, 20%);
    }
    9.9% {
      counter-increment: my-count -3;
      color: hsl(90, 100%, 20%);
    }
    13.2% {
      counter-increment: my-count -4;
      color: hsl(90, 100%, 20%);
    }
    16.5% {
      counter-increment: my-count -5;
      color: hsl(90, 100%, 20%);
    }
    19.8% {
      counter-increment: my-count -6;
      color: hsl(90, 100%, 20%);
    }
    23.1% {
      counter-increment: my-count -7;
      color: hsl(90, 100%, 20%);
    }
    26.4% {
      counter-increment: my-count -8;
      color: hsl(90, 100%, 20%);
    }
    29.7% {
      counter-increment: my-count -9;
      color: hsl(90, 100%, 20%);
    }
    33% {
      counter-increment: my-count -10;
      color: hsl(90, 100%, 20%);
    }



    36.3% {
      counter-increment: my-count -11;
      color: hsl(90, 100%, 20%);
    }
    39.6% {
      counter-increment: my-count -12;
      color: hsl(90, 100%, 20%);
    }
    42.9% {
      counter-increment: my-count -13;
      color: hsl(90, 100%, 20%);
    }
    46.2% {
      counter-increment: my-count -14;
      color: hsl(90, 100%, 20%);
    }
    49.5% {
      counter-increment: my-count -15;
      color: hsl(90, 100%, 20%);
    }
    52.8% {
      counter-increment: my-count -16;
      color: hsl(90, 100%, 20%);
    }
    56.1% {
      counter-increment: my-count -17;
      color: hsl(90, 100%, 20%);
    }
    59.4% {
      counter-increment: my-count -18;
      color: hsl(90, 100%, 20%);
    }
    62.7% {
      counter-increment: my-count -19;
      color: hsl(90, 100%, 20%);
    }
    66% {
      counter-increment: my-count -20;
      color: hsl(90, 100%, 20%);
    }





    69.3% {
      counter-increment: my-count -21;
      color: hsl(0, 98%, 51%);
    }
    72.6% {
      counter-increment: my-count -22;
      color: hsl(0, 98%, 51%);
    }
    75.9% {
      counter-increment: my-count -23;
      color: hsl(0, 98%, 51%);
    }
    79.2% {
      counter-increment: my-count -24;
      color: hsl(0, 98%, 51%);
    }
    82.5% {
      counter-increment: my-count -25;
      color: hsl(0, 98%, 51%);
    }
    85.8% {
      counter-increment: my-count -26;
      color: hsl(0, 98%, 51%);
    }
    89.1% {
      counter-increment: my-count -27;
      color: hsl(0, 98%, 51%);
    }
    92.4% {
      counter-increment: my-count -28;
      color: hsl(0, 98%, 51%);
    }
    95.7% {
      counter-increment: my-count -29;
      color: hsl(0, 98%, 51%);
    }
    99% {
      counter-increment: my-count -30;
      color: hsl(0, 98%, 51%);
    }
    100% {
      content: 'Page Expired';
      color: hsl(0, 98%, 51%);
      animation: none;
    }
  }
  
  
  